.ipynb_checkpoints/
build/
dist/
dw_tap.egg-info/
*/__pycache__
notebooks/validation/__pycache__
*/.DS_Store
.DS_Store
notebooks/validation/.DS_Store
notebooks/validation/01\ Bergey\ Turbine\ Data/binned_wind_inputs/
notebooks/validation/01\ Bergey\ Turbine\ Data/quic_obstacle_files/
notebooks/validation/03\ Model\ Outputs/quic_raw_outputs/
notebooks/validation/01\ Bergey\ Turbine\ Data/binned_wind_inputs_h_analysis/
~*
